<!DOCTYPE html>
<html>
<head>
    <title>ADD BLOG POST</title>
</head>
<body>
    <h1>ADD BLOG POST</h1>
    <form method="POST" action="/add">

        <label for="Title"> Title:</label>
        <input type="text" id="Title" name="Title"><br><br>

        <label for="author">Author:</label>
        <input type="text" id="author" name="Author"><br><br>


        <label for="content">Content:</label>
        <input type="text" id="content" name="Content"><br><br>

        <input type="submit" value="Add Item">
    </form>
</body>
</html>
